// html {
  // background-color: #2a9d8f;
// }

// add a purple highlight strip to the bottom of the navbar + make it slimmer

#navbar-main {
 border-bottom: 2px solid #264653;
}

.navbar {
  background-color: rgba(248, 248, 248, 0.9) !important;
  backdrop-filter: blur(10px);
}

//customise display of navbar links when: hovering & active

.navbar-nav {
    display: flex;

    .nav-link {
      color: #c2c9d6 !important;

      &.active,
      &:hover,
      &:focus {
        color: $sta-menu-text;
      }

      &.active {
        font-weight: bold !important;
        color: $sta-menu-text-active !important;
      }
      
      &:hover {
        color: $sta-menu-text-active !important;
      }
    }
  }

// Eliminate markdown block padding

//.no-padding {
  //padding: 0 !important;
//}

// More compact top and bottom padding for Hero

//.wg-hero {
  //padding: 0 !important;
//}

// Add hover animation to hero title

.hero-title {
  span {
    background-image: linear-gradient(
      transparent calc(100% - 5px),
      darken(#FFD700, 0%) 5px,
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }
  
  &:hover {
    span {
      background-size: 100%;
      color: black;
    }
  }
}

// reduce line spacing in body text of hero 

//.hero-lead {
  //font-size: 1.15rem;
  //line-height: 1;
  //padding: 0 !important;
//}

// hover animation for heading
