// html {
  // background-color: #2a9d8f;
// }

// add a purple highlight strip to the bottom of the navbar + make it slimmer

#navbar-main {
 border-bottom: 2px solid #264653;
}

.navbar {
  background-color: #2a9d8f !important;
}

//customise display of navbar links when: hovering & active

.navbar-nav {
    display: flex;

    .nav-link {
      color: #c2c9d6 !important;

      &.active,
      &:hover,
      &:focus {
        color: $sta-menu-text;
      }

      &.active {
        font-weight: bold !important;
        color: $sta-menu-text-active !important;
      }
      
      &:hover {
        color: $sta-menu-text-active !important;
      }
    }
  }

// Eliminate markdown block padding

//.no-padding {
  //padding: 0 !important;
//}

// More compact top and bottom padding for Hero

//.wg-hero {
  //padding: 0 !important;
//}

// Resize the hero title & text

.hero-title {
  color: black;
  font: minimal;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 0;
  line-height: 1;
}

// reduce line spacing in body text of hero 

.hero-lead {
  font-size: 1.15rem;
  line-height: 1;
  padding: 0 !important;
}

// hover animation for heading

.heading {
  span {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken(#25897d, 0%) 5px,
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }
  
  &:hover {
    span {
      background-size: 100%;
    }
  }
}

// scroll arrow
$base: 0.6rem;

.arrow-container {
 display: flex;
 justify-content: center;
 width: 100%;
 margin-top: 25vh;
}

#scroll-title {
    display: block;
    text-transform: uppercase;
    color: #264653;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size:14px;
  font-weight:bold;
  letter-spacing:.1em;
}

.chevron {
  position: absolute;
  width: $base * 2;
  height: $base * 0.4;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 500%;
 height: 100%;
 width: 50%;
 background: #2c3e50;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 2.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 4.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 6) scale(0.5);
 }
}
