// add a purple highlight strip to the bottom of the navbar + make it slimmer

#navbar-main {
 border-bottom: 6px solid #92006b;
}

.navbar {
  height: 40px;
}

//customise display of navbar links when: hovering & active

.navbar-nav {
    display: flex;

    .nav-link {
      color: #c2c9d6 !important;

      &.active,
      &:hover,
      &:focus {
        color: $sta-menu-text;
      }

      &.active {
        font-weight: bold !important;
        color: $sta-menu-text-active !important;
      }
      
      &:hover {
        color: $sta-menu-text-active !important;
      }
    }
  }


// Resize the hero title & text

.hero-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 0;
  line-height: 1.5;
}

// reduce line spacing in body text of hero 

.hero-lead {
  max-width: 768px;
  font-size: 1.15rem;
  line-height: 1.25;
}

// Formatting of hero image

.hero_media {
  display: flex;
  align-items: center;
  justify-content: right !important;
  height: 50% !important;
  text-align: center;
}
